[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
soulbound_nft_for_reservation = "GoNMgZJr4DorRcZVWSnrqLtjwgD3GUWMGgbLiZXW8Knd"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
